@model SC9SolrDemo.Models.SuggesterResult

@if (Model != null)
{
    <h1>
        Search Text:   @Model.SearchText
    </h1>
    <ul>
        Suggestions:
        @foreach (var suggestion in Model.Suggestions)
        {
            <li>
                <h2>
                    @suggestion
                </h2>
            </li>
        }
    </ul>
}
